{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ author.name }}</h1>
    <p>{{ author.email }}</p>

    {{ render_hinclude(path('app_default_indexlast', {id: author.id})) }}

{% endblock %}

{% block title %}{{ author.name }}{% endblock %}

