{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ author.name }}</h1>
    <p>{{ author.email }}</p>

    {{ render(controller('App\\Controller\\DefaultController::indexLast', {author: author})) }}

{% endblock %}

{% block title %}{{ author.name }}{% endblock %}

