{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1>Ça marche !</h1>
    {# ce commentaire twig ne sera pas visible dans le source de la page #}
{% endblock %}
