{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>
    {# ce commentaire twig ne sera pas visible dans le source de la page #}
    <ul>
    {% for article in articles %}
    <li class="{{ loop.index is odd ? 'odd' : 'even' }}">
        <a href="{{ path('app_default_show', {id: article.id}) }}">{{ article.title }}</a>
    </li>
    {% else %}
    <li>Pas d'article actuellement</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
          color: #222;
        }
    </style>
{% endblock %}
