{% extends 'base.html.twig' %}

{% block title %}{{ article.title | upper }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ dump(article) }}</p>
{% endblock %}

{% dump article %}
