<form action="{{ path('app_locale_validate') }}" method="post">
    <select class="form-select" name="locale" id="form-locale">
        {% for language, locale in locales %}
            <option value="{{ locale }}" {% if locale == app.request.locale %}selected{% endif %}>
                {{ language }}
            </option>
        {% endfor %}
    </select>
    <button class="btn btn-primary">{{ 'select_language'|trans }}</button>
</form>